h1 {
    text-align: center;
    color: rgb(55, 23, 85);
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: blanchedalmond;
    border: 5px;
    border-color: black;
}
h2{
    text-align: center;
    color: rgb(91, 20, 20);
}
p {
    text-align: center;
}
#aboutMe {
    border: 1px;
    border-color: black;
}

#introduction {
    grid-row: 1;
    grid-column: 1;
}

#jobs {
    grid-row: 1;
    grid-column: 2;
}
#learning {
    grid-row: 1;
    grid-column: 3;
}

#career {
    display: grid;
    width: 100%;
    background-color: blanchedalmond;
}
body {
    background-color: aliceblue;
}
ul {font-size: 30px;}
a {
    color: black;
}
a:hover {
    color: white
}